   @tailwind base;
   @tailwind components;
   @tailwind utilities;

   @layer utilities {
      .no-scrollbar::-webkit-scrollbar {
         display: none;
      }
      .no-scrollbar {
         -ms-overflow-style: none;
         scrollbar-width: none;
      }
   }

   /* For the whole page */
   html, body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;   /* no horizontal scroll */
   overflow-y: auto;     /* allow vertical scroll */
   }

   /* Hide scrollbar for Chrome, Safari and Opera */
   html::-webkit-scrollbar,
   body::-webkit-scrollbar {
   display: none;
   }

   /* Hide scrollbar for Firefox */
   html,
   body {
   scrollbar-width: none;      /* Firefox */
   }

   /* Hide scrollbar for IE and Edge (legacy) */
   body {
   -ms-overflow-style: none;   /* IE and Edge */
   }
   